@import url("https://fonts.googleapis.com/css?family=Mooli");

:root{
    --color-calculator: rgb(239, 161, 239);
    --color-borders: rgb(179, 97, 179);
    --color-hover: rgb(219, 64, 219);
    --color-equals:violet;
    --color-screenbackground: whitesmoke;
}
html{
    font-size: 16px;
}
*{
    box-sizing: border-box;
    font-family: "Mooli", sans-serif;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: whitesmoke;
}
#calculator{
    width: 90%;
    max-width: 350px;
    margin: 5vh auto;
    background-color: var(--color-calculator);
    padding: 1px;
    border-radius: 1%;
    box-shadow: 2.5px 2.5px 10px 1px var(--color-borders);
}
#calc-screen{
    margin: 5vh auto;
    width: 90%;
    border: 2px solid var(--color-borders);
    border-radius: 1%;
    overflow: hidden;
}
input{
    width: 100%;
    margin: 0 auto;
    height: 10vh;
    border: none;
    text-align: right;
    background-color: var(--color-screenbackground);
}
#history-screen{
    font-size: 1rem;
}
#ops-screen{
    font-size: 2rem;
}
input:focus{
    outline: none;
}
input:hover{
    cursor: default;
}
#calc-body{
    width: 90%;
    margin: 5vh auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
button{
    width: 100%;
    height: 6vh;
    /* border-radius: 10px; */
    background-color: var(--color-calculator);
    border-color: var(--color-borders);
    font-size: 1.5rem;
}
button:last-child{
    background-color: var(--color-equals);
}
button:hover{
    background-color: var(--color-hover);
}